
* {
  box-sizing: border-box;
}

html, body {
	min-height: 100%;
  	text-rendering: optimizeLegibility;           
  	-webkit-font-smoothing: antialiased;
  	font-family: 'Varela Round', sans-serif;
	background-color: #481E4C;
}


.above-header {
  	background-color: #FFF;
    width: 100%;
    height: 415px;
    background-position: 75% 89%;
    margin-bottom: 100px;
}

.logo-parent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.logo {
	background-image: url(../img/mjlogo.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 250px;
	height: 224px;
	margin-top: 5%;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	background-color: #481E4C;
	width: 100%;
	padding: 20px 0;
	margin-top: 3%;
	transition: .3s all;
}

.nav li {
	padding: 0 10px;
    margin-bottom: 10px;

}

.nav li a {
	color: #BC9B41;
	text-decoration: none;
	border-bottom: 0px solid #38123C;
}

.nav li a:hover {
	color: #FFF;
	border-bottom: 2px solid #BC9B41;
	transition: .3s all;
}

.thumbnail img {
	width: 70%;
    min-width: 89px;
    max-width: 150px;
}

.diamond {
	width: 30px;
	height: 30px;
	background-color: #FFF;
	position: absolute;
	top: 536px;
	left: 50%;
	transform: rotate(45deg);
}

footer {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	background-color: #FFF;
	width: 100%;
	padding: 20px 0;
	margin-top: 3%;
	bottom: 0;
}

footer ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: auto;
	margin-right: 5%;
}

.copyright {
justify-content: flex-start;
align-self: center;
margin-left: 5%;
}

.facebook {
	display: block;
	background-image: url(../img/facebook.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height:50px;
	align-self: center;
}

.instagram {
	display: block;
	background-image: url(../img/instagram.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 70px;
	height:70px;
	align-self: center;
}

.github {
	display: block;
	background-image: url(../img/github.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 40px;
	height:40px;
	align-self: center;
}

/*///////////JS Code /////////////*/



.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 30px;
	flex-wrap: wrap;
}

.hero {
	width: 100%;
/*	width: 550px;
	height: 350px;*/
/*	border: 2px solid black;

*/}

.heroImg {
		width: 100%;

/*	width: 550px;
	height: 350px;*/
	z-index: 2;
	border: 2px ridge #BC9B41;

}

.portfolio-info {
/*	width: 300px;
	height: 350px;*/
/*	border: 2px solid black;
*/	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.img-shelly,
.about-me-tab,
.resume-tab,
.contact-tab {
	width: 100%;
	height: 76.5px;
	border: 2px ridge #BC9B41;
	color: #BC9B41;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.contact-tab a {
	color: #BC9B41;

}

/*.about-me-tab,
.resume-tab,
.contact-tab {
	width: 300px;
	height: 100px;
	border: 2px solid black;
}*/
.buttons {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
}

button {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #FFF;
	color: #481E4C;
	font-weight: 700;
	border: 2px solid #BC9B41;
	border-radius: 5px;
	padding: 10px 20px;
	-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	margin-bottom: 10px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery img {
	margin: 10px;
}

.text-container {
    position: absolute;
    padding-bottom: 54%;
    width: 78%;
    background: white;
    font-weight: 700;
    opacity: 0;
    top: 8%;
    left: 5%;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.img-box {
	/*display: flex;*/
	position: relative;
    width: 420px;
    transition: .8s all;
/*	flex-direction: column-reverse;
*/}

.img-box:hover .project-name,
.img-box:hover .project-course,
.img-box:hover .project-description, 
.img-box:hover .project-link {
	opacity: 1;
}
.img-box:hover .text-container {
	opacity:.9;
}

.img-box:hover {
	transform: scale(1.2);
}


.project-name,
.project-course,
.project-description,
.project-link {
	z-index: 2;
    text-align: center;
    position: absolute;
    color: #481E4C;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 50%;
	opacity: 0;
	margin-bottom: 20px;
}

.project-name {
	top: 15%;
	left: 50%;
	text-decoration: underline;
}

.project-course {
	top: 35%;
	left: 50%;
}

.project-description {
	top: 60%;
	left: 50%;
	width: 80%;
}

.project-link {
	top: 85%;
	left: 50%;
	border-bottom: 0px solid #FFF;
	text-decoration: none;
}

.project-link:hover {
	border-bottom: 2px ridge #BC9B41;
}


@media screen and (min-width: 480px) {

	.nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		background-color: #481E4C;
		width: 100%;
		padding: 20px 0;
		margin-top: 3%;
		transition: .3s all;
	}

	.nav li {
		padding: 0 10px;
	    margin-bottom: 10px;

	}

	.nav li a {
		color: #BC9B41;
		text-decoration: none;
		border-bottom: 0px solid #38123C;
	}

	.nav li a:hover {
		color: #FFF;
		border-bottom: 2px solid #BC9B41;
		transition: .3s all;
	}

	.thumbnail {
		margin-left: -5%;
	}

	.thumbnail img {
		width: 70%;
	    min-width: 89px;
	    max-width: 150px;
	}

	.hero,
	.heroImg {
		width: 550px;
	}

	.diamond {
		top: 539px;
	}

	.img-shelly,
	.about-me-tab,
	.resume-tab,
	.contact-tab {
		width: 300px;
		height: 98.5px;

	}

	.portfolio-info {
	/*	width: 300px;
		height: 350px;*/
	/*	border: 2px solid black;
	*/	display: flex;
		flex-direction: column;
		margin-top: 0px;
		margin-left: 10px;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 30px;
	}

	button {
		column-count: 2;
		margin-left: 10px;
		margin-right: 10px;
		background-color: #FFF;
		color: #481E4C;
		font-weight: 700;
		border: 2px solid #BC9B41;
		border-radius: 5px;
		padding: 10px 20px;
		-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
		margin-bottom: 10px;
	}

}

