
* {
  box-sizing: border-box;
}

html, body {
	min-height: 100%;
  	text-rendering: optimizeLegibility;           
  	-webkit-font-smoothing: antialiased;
  	font-family: 'Varela Round', sans-serif;
	background-color: #481E4C;
}

.logo {
	background-image: url(../img/mjlogo.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 250px;
	height: 224px;
/*	margin-top: 5%;
*/}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	background-color: #481E4C;
	width: 100%;
	padding: 20px 0;
	margin-top: 3%;
	transition: .3s all;
}

.nav li {
	padding: 0 10px;
    margin-bottom: 10px;
}

.nav li a {
	color: #BC9B41;
	text-decoration: none;
	border-bottom: 0px solid #38123C;
}

.nav li a:hover {
	color: #FFF;
	border-bottom: 2px solid #BC9B41;
	transition: .3s all;
}

.thumbnail img {
	width: 70%;
    min-width: 89px;
    max-width: 150px;
}

.gallery {
  text-align: center;
}

.gallery-item {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 400px;
  background: white;
  overflow: hidden;
  margin: 10px;
}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
  z-index: 0;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: #38123C;
	opacity: .5;
}

.gallery-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  color: #481E4C;
  font-weight: 600;
  font-size: 1.2em;
  background-color: #fff;
  padding: 70px;
  border-radius: 200px;
}

#item-1:hover img {
  transform: rotate(90deg) translateY(100%);
}

#item-2:hover img {
  transform: rotate(1turn);

}

#item-3:hover img {
	border: 3px solid #BC9B41;
	transform: scale(0.8) /*translateY(100%)*/;
}

#item-4:hover img {
  transform: skew(180deg);
}

#item-5:hover img {
	border-top-right-radius: 350px;
	border-bottom-left-radius: 350px;
	transform: scale(.8);
	transform: rotateY(180deg);
}

#item-6:hover img {
	transform: scale(2) translateY(-100%);
	transition-duration: 2s;
	border-bottom-left-radius: 250px;
	border-bottom-right-radius: 250px;
}

#item-7:hover img {
	transform: rotate(1turn) scale(.7) rotate(-10deg);
	border: 40px solid black;
}

#item-8 img{
	animation: spin 7s linear infinite;
	animation-play-state: paused; 
}

#item-8:hover img {
	animation-play-state: running;
	border-radius: 50%;
}

@keyframes spin {
  100% {transform: rotate(1turn); }
}

#item-1:hover .overlay,
#item-2:hover .overlay,
#item-3:hover .overlay,
#item-4:hover .overlay,
#item-5:hover .overlay,
#item-6:hover .overlay,
#item-7:hover .overlay,
#item-8:hover .overlay {
	opacity: 0;
}

#item-1:hover .para,
#item-2:hover .para,
#item-3:hover .para,
#item-4:hover .para,
#item-5:hover .para,
#item-6:hover .para,
#item-7:hover .para,
#item-8:hover .para {
	opacity: 0;
}

@media screen and (min-width: 480px) {

	.nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		background-color: #481E4C;
		width: 100%;
		padding: 20px 0;
		margin-top: 3%;
		transition: .3s all;
	}

	.nav li {
		padding: 0 10px;
	    margin-bottom: 10px;

	}

	.nav li a {
		color: #BC9B41;
		text-decoration: none;
		border-bottom: 0px solid #38123C;
	}

	.nav li a:hover {
		color: #FFF;
		border-bottom: 2px solid #BC9B41;
		transition: .3s all;
	}

	.thumbnail {
		margin-left: -5%;
	}

	.thumbnail img {
		width: 70%;
	    min-width: 89px;
	    max-width: 150px;
	}
}
